<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Large Sample Test](#z)**
2. **[Small Sample Test](#t)**
3. **[Chi-Square Test](#chisq)**
4. **[One-way ANOVA](#1way)**

**Import the required libraries**

In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

### Let's begin with some hands-on practice exercises

<a id = "z"> </a>
## 1. Large Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The computer engineer claims that the average time requires to scan a system is less than 2.3 minutes. A graduate student collects the time taken by 32 systems to test the engineer's claim. Check whether the graduate student can use the Z-test for testing the claim with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
             2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]

In [1]:
# Ho: mean>=2.3
# Ha: mean <2.3
# two tailed test

In [26]:
time =np.array([2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5,
         2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
         2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4])
len(time)

32

In [28]:
stat, p_value = shapiro(time)
p_value

0.18520332872867584

In [ ]:
# from the above p_value we can say that data is normally distributed hence we can use z test

In [34]:
z_score, pval = stests.ztest(x1 = time, value = 2.3, alternative = 'smaller')
pval
z_score

-4.314055766276573

In [36]:
x_bar=time.mean()
std=time.std()
z=(x_bar-2.3)/(std/np.sqrt(32))
z

-4.383085041624231

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two samples have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a p value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# Ho: protien in mango<= protien in fruitmix
# Ha:protien in mango> protien in fruitmix

In [37]:
z_val = np.abs(round(stats.norm.isf(q = 0.01), 2))
z_val

2.33

In [5]:
def TwoSampZTest(samp_mean_1, samp_mean_2, samp_std_1, samp_std_2, value, n1, n2):
    
    # calculate the test statistic
    denominator = np.sqrt((samp_std_1**2 / n1) + (samp_std_2**2 / n2))
    zscore = ((samp_mean_1 - samp_mean_2) - (value)) / denominator
    
    # return the z-score
    return zscore
samp_mean_1=0.4
samp_mean_2=0.35
samp_std_1=0.08
samp_std_2=0.05
value=0
n1=50
n2=80
print(TwoSampZTest(samp_mean_1, samp_mean_2, samp_std_1, samp_std_2, value, n1, n2))

3.96214425875164

In [41]:
# Here the z-score is greater than 2.33. 
# Thus, we reject the null hypothesis and conclude that the protein 
# content in MangoFun juice is more than protein content in FruitMix juice.

In [ ]:
# from the above test we can say that z_table>z_calculated so we reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [7]:
# type your code here# read the data 
df_elec = pd.read_csv('electronic.csv')

# display the first two observations
df_elec.head(2)

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet

In [8]:
# Ho:price_phablet = price_tablet
# Ha:price_phablet != price_tablet

In [9]:
# levene test used to tell the whether the variances of two samples are equal or not

In [10]:
# consider the price of phablet and tablet
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']

In [11]:
z_stat,p_val=shapiro(phab_price)
z_stat1,p_val1=shapiro(tab_price)
print(p_val,p_val1)

0.20465952157974243 0.33798879384994507

In [26]:
# from above value we can say that data is normally distributed so we can go for two sample ztest

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [15]:
# type your code here
# Ho: price(phablet)=price(phablet)
# Ha:price(phablet)!=price(phablet)

In [16]:
# consider the price of phablet and tablet
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']

In [20]:
s1=phab_price.var()
s2=tab_price.var()
n1=50
n2=50
mu1=phab_price.mean()
mu2=tab_price.mean()
val=0

In [24]:
z_val=round(stats.norm.isf(0.05),2)
z_val

1.64

In [21]:
def two_samp_ztest(mu1,mu2,s1,s2,n1,n2):
    num=(mu1-mu2)-val
    denom=(np.sqrt((s1/n1)+(s2/n2)))
    z=num/denom
    return z

In [22]:
print(two_samp_ztest(mu1,mu2,s1,s2,n1,n2))

9.282772555558113

In [25]:
# since the calculated z_val(9.28) is not withn the range of table z_val (-1.64 to +1.64) so we reject the null hypothesis
#  and conclude that price of phablet is not equal to price of tablet

<a id="t"></a>
## 2. Small Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [51]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]
n=15
z_stat,p_val=shapiro(pack_wt)
p_val

0.5868644714355469

In [52]:
#  normally distributed so we cant use ttest

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g. using p-value method. (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [28]:
# Ho: avg(weight)<=30g
# Ha: avg(weight)>30g

In [53]:
# type your code here
# Ho : mu<=30
# Ha: mu>30
alpha=0.1
n=15
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [56]:
t_stat, p_val = stats.ttest_1samp(a = pack_wt, popmean = 30)
p_val  # it is for two tail test so divide it by 2
req_p_val = p_val/2
req_p_val

0.14068288127820355

In [29]:
# req_p_val is greater than 0.1 so we fail to reject null hypothesis
# and conclude that the average weight of the packets are less than or equalt to 30g

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type your code here
# Ho: t>=-1.2
# Ha:  t<-1.2
n=10

In [31]:
pop_mean=-1.2
samp_mean=-1.34
sd=0.8

In [58]:
t_val = round(stats.t.isf(q = 0.05, df = 9), 2)
t_val

1.83

In [59]:
def t_test(pop_mean, samp_std, n, samp_mean):
   
    # calculate the test statistic
    t_score = (samp_mean - pop_mean) / (samp_std / np.sqrt(n))

    # return the t-test value
    return t_score

In [60]:
pop_mean=-1.2
samp_mean=-1.34
samp_std=0.8
n=10
print('t_score is',t_test(pop_mean, samp_std, n, samp_mean))

t_score is -0.5533985905294669

In [33]:
# We can see that the test statistic value is greater than -1.83.
# Thus, we fail to reject (i.e. accept) the null hypothesis and
# conclude that T-score for females older than 30 is greater than -1.2.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [34]:
# Ho: Harry_time>=Ron_time
# Ha: Harry_time<Ron_time

In [62]:
# type your code here
# given data
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# time taken by Harry and Ron
time = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5, 19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [64]:
z_test,p_val=shapiro(time)
p_val

0.9969169497489929

In [ ]:
# p_val is geater than 0.01 so we reject the null hypothesis and data is normally distributed

In [65]:
stat, p_value = stats.levene(harry, ron)
p_value

0.7267972480247995

In [66]:
# p_vale is less than 0.01 so both variances are same

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using  p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [1]:
# type your code here
# Ho: mu1-mu2>=0
# Ha: mu1-mu2<0

In [67]:
n_1 = len(harry)
n_2 = len(ron)
print('Degrees of freedom:', n_1 + n_2 - 2)

Degrees of freedom: 12

In [69]:
t_val = np.abs(round(stats.t.isf(q = 0.1, df = 12), 2))
t_val

1.36

In [70]:
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)
req_p_val=p_val/2
req_p_val

0.00692997580305821

In [71]:
#  since p_val is less than 0.1 so harry takes less times than Ron

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>10. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [80]:
# Ho:mu2>=mu1
# Ha:mu2<mu1

In [72]:
# given data
df_sugar = pd.read_excel('sugar_level.xlsx')

# print the first two observations
df_sugar.head(2)

   sugar_before  sugar_after
0           135          132
1           132          136

In [75]:
before=df_sugar['sugar_before']
after=df_sugar['sugar_after']

In [77]:
z_stat1,p_val1=shapiro(before)
z_stat2,p_val2=shapiro(after)
print(p_val1,p_val2)

0.08004998415708542 0.057184845209121704

In [ ]:
# both p_values are greter than 0.05 so we can say than both data are normally distributed

In [81]:
z_stat,p_val=stats.ttest_rel(before,after)
p_val
req_p_val=p_val/2
req_p_val

1.0544706972911436e-05

In [82]:
# since p_value is less than 0.05  we reject the null hypothesis 
# and we can say than new medication is effective to reduce the sugar level

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [90]:
# type your code here
# Ho: p!=0.14
# Ha: p=0.14
n=250
p=39/250
p_samp=p

In [92]:
interval = stats.norm.interval(0.95, loc = p_samp, scale = np.sqrt((p_samp*(1-p_samp))/n))
interval

(0.11102081218306087, 0.20097918781693913)

In [87]:
z_stat=norm.isf(0.05)
z_stat

1.6448536269514729

In [88]:
z=(p-.014)/(((0.14*(1-0.14))/n))**0.5
z

6.470608222116341

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim using a critical value method. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho:defective<=0.2
# Ha:defective>0.2

In [95]:
x=42
n=120
alpha=0.1
p_samp=x/n
hypo_p=0.2

In [96]:
z_val = np.abs(round(stats.norm.isf(q = 0.1), 2))
z_val

1.28

In [98]:
z_prop = (p_samp - hypo_p) / np.sqrt((hypo_p * (1 - hypo_p)) / n)
z_prop

4.107919181288744

In [99]:
#  so we reject the null hypothesis so defective is >0.2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>13. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho: proportins are equl
# Ha:proportions are not equal

In [106]:
NY_emp=150
One_emp=170
NY_female=53
One_female=76

In [108]:
z_prop, p_val = sm.stats.proportions_ztest(count = np.array([NY_female, One_female]), 
                                             nobs = np.array([NY_emp, One_emp]),  
                                             alternative = 'two-sided')
p_val

0.08807228185564836

In [109]:
#  since the p_val is more than 0.05 so we fail to reject the null hypothesis
# so proportions are equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Use the pvalue method to test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho: failed in maths<=failed in english
# Ha:failed in maths>failed in english

In [113]:
math_samp=200
eng_samp=150
math_fail=73
eng_fail=53
alpha=0.1

In [114]:
z=norm.isf(0.1)

In [116]:
z_prop, p_val = sm.stats.proportions_ztest(count = np.array([math_fail, eng_fail]), 
                                             nobs = np.array([math_samp, eng_samp]),  
                                             alternative = 'larger')
p_val

0.41097963333926457

In [117]:
# p_val is more than 0.1 so we fail to reject the null hypothesis
# so failed in maths<=failed in english

<a id = "chisq"> </a>
## 3. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 17 to 24.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
# read the sample data 
df_emp = pd.read_csv('Employee_Attrition.csv')

# display the first two observations
df_emp.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [36]:
# Ho: there is no significant diff
# Ha:  there is

In [37]:
print('Observed')
df_emp['Department'].value_counts()

Observed

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [38]:
# given observed values
observed_value = [961, 446, 63]

# expected percentage 
exp_count = [0.55, 0.35, 0.10]

In [39]:
# calculate the expected values for each category
expected_value = np.array(exp_count) * len(df_emp)

# round-off the values to integers
expected_value = round(pd.Series(expected_value))
expected_value

0    809.0
1    514.0
2    147.0
dtype: float64

In [125]:
stat, p_value = stats.chisquare(f_obs = observed_value, f_exp = expected_value)

In [127]:
p_value

2.642446152388858e-19

In [ ]:
#

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a p value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho: there is no significant diff
# Ha:  there is

In [128]:
df_emp['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [129]:
df_emp['JobSatisfaction'] = df_emp['JobSatisfaction'].astype('object')

In [130]:
df_emp['JobSatisfaction'].dtype

dtype('O')

In [132]:
df=4-1

In [133]:
print('Degree of freedom is',df)

Degree of freedom is 3

In [131]:
chi2_val = np.abs(round(stats.chi2.isf(q = 0.1, df = 3), 4))

In [134]:
chi2_val

6.2514

In [135]:
observed_value = [289, 280, 442, 459]

In [136]:
exp_count = [0.2, 0.18, 0.3, 0.32]
expected_value = np.array(exp_count) * len(df_emp)

In [137]:
expected_value = round(pd.Series(expected_value))

In [138]:
expected_value

0    294.0
1    265.0
2    441.0
3    470.0
dtype: float64

In [140]:
stat, p_value = stats.chisquare(f_obs = observed_value, f_exp = expected_value)

In [141]:
p_value

0.7544905089954578

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
# type your code here
print('Observed')
df_emp['BusinessTravel'].value_counts()

Observed

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [48]:
observed=df_emp['BusinessTravel'].value_counts().values
print(observed)
expe=np.array([0.68,0.2,0.12])
expected_val=len(df_emp)*expe
e=np.round(expected_val)

[1043  277  150]

In [51]:
z_stat,p_val=stats.chisquare(f_obs=observed,f_exp=e)
p_val

0.03556294179573812

In [52]:
# since p_value is greater than 0.01 we fail to reject the null hypothesis 
#  and conclude that the there is no significant difference between observed and expected

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho: Bt and Jr are independent
# á¸¤a: Bt and Jr are not independent

In [143]:
# use 'crosstab()' to create a table for each type of business travel and job role 
table = pd.crosstab(df_emp['BusinessTravel'], df_emp['JobRole'])

# observed values  
observed_value = table.values
observed_value

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [145]:
test_stat, p, dof, expected_value = stats.chi2_contingency(observed = observed_value, correction = False)

In [146]:
p

0.7448263418408124

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Is there any relationship between the attrition of an employee and his/her marital status? Perform the hypothesis testing to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
df_emp.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [59]:
# Ho: attrition and marital status are not related
# Ha: attrition and marital status are related

In [58]:
# type your code here
obs=pd.crosstab(df_emp['Attrition'],df_emp['MaritalStatus'])
obs.values

array([[294, 589, 350],
       [ 33,  84, 120]], dtype=int64)

In [62]:
stat,p_val,df,obs=stats.chi2_contingency(obs)

In [66]:
df

2

In [63]:
p_val

9.45551106034083e-11

In [64]:
# p_val is less than 0.05 so we reject the null hypothesi 
#  and conclude that there is relationship between  attrition and marital status

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [70]:
# Ho: Businesstravel and gender are not related to each other
# Ha: Businesstravel and gender are  related to each other

In [65]:
# type your code here
obs=pd.crosstab(df_emp['BusinessTravel'],df_emp['Gender'])
obs.values

array([[ 49, 101],
       [117, 160],
       [422, 621]], dtype=int64)

In [67]:
stat,p_val,df,obs=stats.chi2_contingency(obs.values)

In [68]:
p_val

0.13322895625828154

In [69]:
# since p_val is greater than 0.1 so we fail to reject the null hypothesis
#  and conclude that Gender and bussiness travel are not related to each other

<a id = "1way"> </a>
## 4. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 25 to 29.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [147]:
# type your code here
# read the sample data 
df_emp = pd.read_csv('sales_emp.csv')

# display the first two observations
df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

In [148]:
stat, p_value = stats.shapiro(df_emp['MonthlyIncome'])

In [149]:
p_value

0.05732710659503937

In [71]:
# since p_value is greater than 0.05 data is normally distributed

In [150]:
df_emp['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [151]:
stat, p_value = stats.levene(df_emp[df_emp['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Marketing']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Medical']['MonthlyIncome'],
                             df_emp[df_emp['EducationField'] == 'Other']['MonthlyIncome'])

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.23476859109336565

In [ ]:
# since  p_val is  greater than 0.05 all variances are equal

In [72]:
# since data is normally distributed and having equal variances we can use ANOVA test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [73]:
# type your code here
df_emp['EducationField'].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [75]:
# check for normality
stat,p_val=shapiro(df_emp['DailyRate'])
p_val

5.33020646444966e-21

In [76]:
# since p_value is less than 0.05 we reject the null hypothesis
# and conclude that data is not normaly distributed 
#  so cant use this data for ANOVA test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
df_emp.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [3]:
# type your code herea
test_stat, p_val = stats.f_oneway(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])

In [4]:
p_val

0.8353868414257266

In [5]:
# since the p_value is les than 0.01 we reject the null hypothesis 
#  and conclude that ther is atleast one mean is different

In [9]:
import statsmodels

In [11]:
v=statsmodels.stats.multicomp.MultiComparison(data=df_emp['DailyRate'],groups=df_emp['BusinessTravel'])

In [14]:
v.kruskal().summary()

MultiComparison.kruskal
0 1 26.175511432009557 54.0003971006048 0.4847281286328984 False
0.6278692106375738

AttributeError: 'numpy.float64' object has no attribute 'summary'

In [15]:
import scipy

In [ ]:
scipy.stats.a