<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [3]:
# type your code here
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A research paper in the medical journal claims that the average height of females in Nebraska is less than 168 cm. A group of physicians conducted a survey and collected the heights of 95 females from Nebraska, and recorded the average height as 163 cm with a standard deviation of 7 cm. Assume that the sample is drawn from a normally distributed population. Test the claim in the research paper using the 95% confidence interval for the population mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ho: NB_femail_height>=168cm
# Ha: NB_femail_height<168cm

In [8]:
n=95   # since n>30 we can use ztest
pop_mean=168
samp_mean=163
sd=7
alpha=0.05

In [9]:
z_critical=round(stats.norm.isf(0.05))
z_critical

2

In [11]:
z_val=(samp_mean-pop_mean)/(sd/np.sqrt(n))
z_val

-6.961995960577831

In [12]:
# since z_val (-6.96) is less than -2 we reject the null hypothesis
#  and conclude that females in Nebraska is less than 168 cm

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim using a critical value method with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [19]:
# type your code here
# Ho: average level of satisfaction(AlpaMoney)=average level of satisfaction(AlpaMoney)
# Ha: average level of satisfaction(AlpaMoney)=!average level of satisfaction(AlpaMoney)

In [16]:
z_val=round(stats.norm.isf(0.1))
z_val  # critical value

1

In [17]:
def two_samp_ztest(mu1,mu2,sd1,sd2,n1,n2):
    num=(mu1-mu2)-val
    denom=np.sqrt(((sd1**2)/n1+(sd2**2)/n2))
    z_score=num/denom
    return z_score

In [18]:
n1=527
n2=652
mu1=4.23
mu2=3.56
sd1=1.6
sd2=0.72
val=0
print(two_samp_ztest(mu1,mu2,sd1,sd2,n1,n2))

8.91135766652653

In [23]:
# since calculated z_score is more than table value we reject the null hypothesis
# and conclude that  average level of satisfaction(AlpaMoney)=!average level of satisfaction(AlpaMoney)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The economic journal claims that the students who graduated from tier 1 universities get more salary than the average salary of 35000$. A random sample of 20 graduated students is selected to test the claim. Use p-value criteria to test the claim with 0.1 as a level of significance.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:

        salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
                  15188, 91631, 96189, 77819, 79590]

In [1]:
# type your code here
# Ho: average salary<35000
# Ha:average salary>35000

In [28]:
salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
              15188, 91631, 96189, 77819, 79590]

z_stat,p_val=stats.ttest_1samp(salary,35000, alternative='greater')
p_val

6.544700826360017e-05

In [ ]:
# since p_value is less than  0.1 we reject the null hypothesis
#  and conclude that average salary>35000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Perform a two sample t-test by plotting the acceptance and rejection regions to test whether there is any difference between the average time taken by Amy and Susan. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [29]:
# type your code here
# Ho: There is no difference between   Amy_timea and Susan_time
# Ha:There is significant difference between   Amy_timea and Susan_time

In [30]:
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [34]:
t_stat,p_val=stats.ttest_ind(Amy_time,Susan_time)
p_val

0.2608757876549646

In [35]:
# since p_value is greater than 0.05 we fail to reject the null hypothesis
#  and conclude that There is no difference between   Amy_timea and Susan_time

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [ ]:
# Ho: Cource was not effective
# Ha: Cource was not effective

In [39]:
# type your code here
# reading data
df=pd.read_excel(r'paired_data.xlsx')
df.head()

   before_score  after_score
0            23           32
1            38           36
2            35           48
3            45           47
4            32           40

In [43]:
df['before_score'].mean()

33.666666666666664

In [44]:
df['after_score'].mean()

39.666666666666664

In [45]:
tstat,p_val=stats.ttest_rel(df['before_score'],df['after_score'])

In [46]:
p_val

0.03993727174744146

In [ ]:
# since p_val is greater than 0.01 we fail to reject the null hypothesis 
#  and conclude that  Cource was not effective

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. A survey conducted by the department of education states that the proportion of students who quit education due to financial crisis is more than 38%. To test this claim a group of 450 students is selected out of which 205 are found to be dropped out from school due to financial crisis. Test the claim using a critical value method with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
# type your code here
# Ho: proportion of students who quit education due to financial crisis is <= 38%
# Ha:  proportion of students who quit education due to financial crisis is > 38%

In [49]:
z_stat,p_val=sm.stats.proportions_ztest(205,450,0.38,alternative='larger')

In [50]:
p_val

0.0006447863887562039

In [59]:
# since p_val is smaller than 0.05 we reject the null hypothesis 
#  and conclude that proportion of students who quit education due to financial crisis is > 38%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Two leading medical institutes CureOn and MedFirst have produced new vaccines on ebola. The vaccine produced by CureOn is given to 252 people in the UK out of which 78 had severe side-effects also the vaccine produced by MedFirst is given to 425 people in the UK out of which 92 had severe side-effects. Can we conclude that the vaccine produced by MedFirst is more reliable? Test the claim using p-value technique with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
# type your code here
# Ho: There is no difference between two vaccines
# Ha:  There is  difference between two vaccines

In [61]:
x1=78
x2=92
n1=252
n2=425
alpga=.01

In [64]:
z_stat,p_val=sm.stats.proportions_ztest([x1,x2],[n1,n2])

In [66]:
p_val
req_p_val=p_val/2
req_p_val

0.0034781130027344885

In [70]:
# since p_value is less than 0.01 we can reject the null hypothesis 
# and conclude that There is  difference between two vaccines and  MedFirst is  reliable

In [67]:
x1/n1

0.30952380952380953

In [68]:
x2/n2

0.2164705882352941

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. During a pandemic, the sales manager of CleanSteam claims that the median sale of steamer machines is more than 256 dollars. The sample of sales for 10 days is recorded. Test the manager's claim at 95% confidence using p-value technique. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        sales = [315, 241, 294, 242, 290, 236, 222, 308, 310, 235]

In [75]:
# Ho:sale of steamer machines is <= 256 dollars
# Ha: sale of steamer machines is > 256 dollars

In [74]:
# type your code here
sales = [315, 241, 294, 242, 290, 236, 222, 308, 310, 235]

In [77]:
tstat,p_val=stats.ttest_1samp(sales,256)

In [81]:
tstat

1.1353706378498694

In [78]:
req_p_val=p_val/2
req_p_val

0.14277529062600813

In [ ]:
# since p_value is more than 0.05 we fail to reject the null hypothesis
#  and conclude that sale of steamer machines is <= 256 dollars

In [86]:
sum(sales)/len(sales)

269.3

In [87]:
sd=np.array(sales).std()

In [90]:
stats.t.interval(0.95,loc=256,scale=sd/np.sqrt(10),df=9)

(230.8604203808185, 281.13957961918146)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. A pharmaceutical company in Manhattan claims that its new HighView tablet is effective in increasing the height of children. The data of heights (in cm) of 7 children is recorded before and after consuming the tablet. Test the company's claim at a 10% level of significance using the p-value. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:
        
        ht_before = [121, 125, 130, 120, 145, 126, 134]
        ht_after = [130, 129, 148, 122, 147, 130, 148]

In [91]:
# Ho:height(after)<=height(before)
# Ha: height(after)>height(before)

In [93]:
# type your code here
ht_before = [121, 125, 130, 120, 145, 126, 134]
ht_after = [130, 129, 148, 122, 147, 130, 148]

In [94]:
tstat,p_val=stats.ttest_rel(ht_before,ht_after)

In [96]:
p_val/2

0.00966864434111964

In [97]:
# since p_val is less  than 0.1 we reject the null hypothesis 
#  and conclude that height(after)>height(before)

In [99]:
print(np.array(ht_before).mean())
np.array(ht_after).mean()

128.71428571428572

136.28571428571428

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Research suggests that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products. To test this claim we have recorded the fat content in 6 packs of 100 g oil from both the companies. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
        Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [102]:
# type your code here
# Ho:the rice-bran oil of Nutura products is>=that of Markgen products
# Ha:the rice-bran oil of Nutura products is< that of Markgen products

In [103]:
Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [104]:
stat,p_val=stats.ttest_ind(Nutura_fat,Markgen_fat )

In [105]:
p_val

0.02253897547849433

In [106]:
# since p_value is less than 0.05 we reject the null hypothesis 
#  and conclude that the rice-bran oil of Nutura products is< that of Markgen products

In [107]:
print(np.array(Nutura_fat).mean())
np.array(Markgen_fat).mean()

98.25

94.95